<main>
    <div class="file-container">
        @for (job of jobs; track job.jobId) {
            <app-job-card [job]="job"
                          (processJob)="onJobClicked($event)"
                          (openImages)="onOpenImages($event)"
            />
        } @empty {
            <p>No files uploaded yet.</p>
        }
    </div>

    @if (isImgSelect) {
        <app-img-select [imgPaths]="currentImgPaths"
                        (close)="onCloseImages()" />
    }

    <div class="clear-container">
        <button class="clear-btn" (click)="clearJobs()">Clear Jobs</button>
    </div>
</main>
